<configuration>
   <system.webServer>
		<staticContent>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<location path="index.php">
			<system.webServer>
				<httpRedirect enabled="true" destination="demos-php" httpResponseStatus="Permanent" />
			</system.webServer>
		</location>
   </system.webServer>
</configuration>