<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<httpRedirect enabled="true" destination="demos-php" httpResponseStatus="Temporary" />
	</system.webServer>
	<location path="demos-php">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
	<location path="dist-php">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
	<location path="wet-boew">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
</configuration>